@font-face {
  font-family: "iconfont"; /* Project id 3966234 */
  src: url('@/static/icon/iconfont.ttf?t=1679378128750') format('truetype');
}
/* url('@/static/icon/iconfont.woff2?t=1679378128750') format('woff2'),
       url('@/static/icon/iconfont.woff?t=1679378128750') format('woff'), */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

