@mixin ArcBackground(){
    position: fixed;
    top: 0;
    z-index: -10;
    width: 100vw;
    height: 50vh;
    background-color: #184677;
    border-radius: 0px 0px 25vw 100vw / 0px 0px 5vh 25vh;
};